:root {
  --foreground: #fffe;
  --highlight: #bbbb;
  --backdrop: #0002;
  --scale: 2;
  --duration: 160ms;
  --elevated-shadow: 0px 8.5px 10px rgba(0, 0, 0, .07), 0px 68px 80px rgba(0, 0, 0, .12);
  --shadow: inset 0 0 0 1px var(--highlight), 0 0 0 1px hsla(240, 3%, 11%,.5);
  --background: #2f2f2f;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  user-select: none;
  overflow: hidden;
  -webkit-app-region: drag;
  font-size: 15px;
}

:root, html, body {
  background-color: var(--background);
}

.small {
  font-size: 12px;
}

a {
  opacity: 0.5;
  color: var(--foreground);
  text-overflow: ellipsis;
}

a:visited {
  color: var(--foreground);
}

video {
  width: 100vw;
  height: auto;
  transform: scale(calc(var(--scale) * var(--width-ratio, 1)));
  transform-origin: calc(var( --x-offset) * 100%) calc(var(--y-offset) * var(--compensate, 1) * 100%);
  transition: transform-origin var(--duration), transform var(--duration);
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--backdrop);
  /* transition: opacity 300ms; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var( --foreground );
  text-shadow: 1px 1px 2px var(--backdrop);
}

.nodrag {
  gap: 10px;
  margin-top: 0px;
  padding: 18px;
  width: 278px;
  border-radius: 12px;
  background-color: var(--background);
  line-height: 1.2;
  -webkit-app-region: no-drag;
  box-shadow: var(--shadow);
}

body.active .nodrag {
  box-shadow: var(--shadow), var(--elevated-shadow);
}

.nodrag > * {
  margin-bottom: 16px;
}

.nodrag > *:last-child {
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  height: 35px;
}

button {
  appearance: none;
  background: none;
  font-size: 14px;
  text-shadow: 1px 1px 2px var(--backdrop);
  padding: 10px 12px;
  /* border: 1px solid var( --highlight ); */
  border: 0;
  box-shadow: 0 0 0 1.2px var(--highlight), 1px 2px 1px var(--backdrop);
  color: var( --foreground );
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 180px;
  white-space: nowrap;
}

button:hover {
  background-color: #fff2;
  box-shadow: 0 0 0 1.2px var(--foreground);
}

body.active .panel {
  opacity: 0;
  pointer-events: none;
}

body.active.visible .panel {
  opacity: 1;
  pointer-events: auto;
}

#fullScreenBtn {
  padding: 10px;
  padding-bottom: 6px;
}