:root {
  --foreground: #fff;
  --backdrop: #0006;
  --scale: 2.5;
  --duration: 160ms;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  user-select: none;
  overflow: hidden;
  -webkit-app-region: drag;
  background-color: #000000;
}

video {
  width: 100vw;
  height: auto;
  transform: scale(calc(var(--scale) * var(--width-ratio, 1)));
  transform-origin: calc(var( --x-offset) * 100%) calc(var(--y-offset) * var(--compensate, 1) * 100%);
  transition: transform-origin var(--duration), transform var(--duration);
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--backdrop);
  transition: opacity 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var( --foreground );
}

.nodrag {
  margin-top: 20px;
  border: 1px dashed var( --foreground );
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  -webkit-app-region: no-drag;
}

button {
  appearance: none;
  background: none;
  font-size: 16px;
  padding: 12px 6px;
  border: 1px solid var( --foreground );
  color: var( --foreground );
  border-radius: 10px;
  outline: none;
}

.panel {
  opacity: 0;
}

body:hover .panel {
  opacity: 1;
}

body:hover video {
  transform: scale(1);
}